<% if line_item == @current_item %>
  <tr class="text-center line-item-highlight">
<% else %>
  <tr class="text-center">
<% end %>
  <td><%= line_item.quantity %></td>
  <td class="text-left">
    <%= line_item.product.title %>
  </td>
  <td>
    <%= number_to_currency(line_item.total_price) %>
  </td>
</tr>
